:root{
    --main-color : #1C366B;
    --muted-color : #EEEFF2;
}

button {
    background-color: var(--main-color) !important;
    color: white !important;
    border-radius: 0 !important;
}

input {
    background-color: var(--muted-color) !important;
}

.navBar {
    height: 90px;
}

.muted {
    background-color: var(--muted-color) ;
}

.divider {
    height: 1px;
    width: 100%;
    background-color: black;
}